requests==2.32.3
chardet==5.2.0
python-dateutil
pyweatherbit
unidecode
urllib3
rich
freetype-py
PyJWT
cryptography
roonapi
spotipy
pillow
pyweatherbit
certifi
websockets==13.1
platformdirs
fastfeedparser
