requests==2.32.3
chardet==5.2.0
python-dateutil
pyweatherbit
feedparser
unidecode
urllib3
sdnotify
#fastapi
rich
freetype-py
PyJWT
cryptography
roonapi
spotipy
pillow
pyweatherbit
certifi
websockets==13.1
